
<div class="reviews" id="reviews">
    <h1>Отзывы ({{ average_mark }})</h1>
    {% for review in reviews %}
        <div class="review">
            <p><b>{{ user.username }}</b> - {{ review.mark }}</p>
            <p class="text-secondary-sm">{{ review.created_at }}</p>
            <br>
            <p>{{ review.text }}</p>
        </div>
    {% empty %}
        <p>Нет отзывов</p>
    {% endfor %}
    <form method="POST">
        
        {% csrf_token %}
        <div>
            <h2>Добавить отзыв</h2>
        </div>
        <div class="flex align-center h-32">
            <input 
            style="width: 100%; height: 24px; margin: 4px; padding-left: 4px;" 
            type="text" 
            placeholder="Текст"
            name="text"
            >
        </div>
        <div>
            <input 
            style="width: 100px; height: 24px; margin: 4px; padding-left: 4px;"
            type="number"
            name="mark"
            min="0" max="5"
            id="numberInput"
            oninput="limitValue(this)"
            placeholder="Оценка"> </input>
        </div>
        <input 
        hx-post="{% url 'add-review' item.id %}"
        hx-target="#reviews"
        type="submit"
        value="Оставить отзыв"
        class="btn btn-black btn-md"
        >
        </input>
    </form>
</div>
<script>
    function limitValue(input) {
        if (input.value > 5) {
            input.value = 5;
        }
        else if (input.value < 1) {
            input.value = 0;
        }
    }
</script>
<style>
    .review{
        margin-top: 8px;
        padding: 4px;
        padding-left: 12px;
        border-left: 1px solid black;
    }
</style>