{% extends 'base.html' %}

{% block title %}Вход | DrainShop Cringe {% endblock %}

{% block content %}
<div class="register">
    <div class="register-heading" >
        <h1 style="font-size: 25px;">Добро пожаловать в Cringe</h1>
        <h1 style="font-size: 15px;">Впервые здесь? Зарегстрируйтесь</h1>
    </div>            
    <form method="post" class="reg-form">
        {% csrf_token %}
        {% for field in form%}
        <div class="register-input">
          <input type="text" style = "border: 2px solid red;"placeholder="{{ field.name }}" required>
          <i></i></div>
        {% endfor %}
        
       
          <button class="register-button" type="submit">Войти</button>
        
      </form>
   
</div>
{% endblock %}