{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title></title>{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;1,600;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/heart.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
<header>
    <div class="upper-header">
        <ul class="header-ul">
            <li class="upper-li"><span class="material-symbols-outlined">
                captive_portal
                </span>
                <a href="#" class="upper-header-link">укажите регион доставки</a></li>
            <div class="header-ul-right">
                <li><a href="#" class="upper-header-link">подлинные товары</a></li>
                <li><a href="#" class="upper-header-link">доставка с примеркой</a></li>
                <li><a href="#" class="upper-header-link">платите когда хотите</a></li>
            </div>
        </ul>
    </div>

    <div class="center-header cont">
        <div class="center-header-ul-left">
            <a href="#" class="center-header-link">Дрейнирам</a>
            <a href="#" class="center-header-link">Дед инсайдам</a>
            <a href="#" class="center-header-link">Е-герлам</a>
        </div>
        <div class="center-header-ul-center">
            <a href="{% url 'home' %}" class="center-header-link brand">Cringe</a>
        </div>
        <div class="center-header-ul-right">
            <a href="#" class="center-header-link">Войти</a>
            <a href="{% url 'order' %}" class="center-header-link">Корзина</a>
        </div>
    </div>
    <div class="lower-header cont">
        <div class="lower-header-ul-left">
            <a href="#" class="lower-header-link">Новинки</a>
            <a href="#" class="lower-header-link">Одежда</a>
            <a href="#" class="lower-header-link">Сумки</a>
            <a href="#" class="lower-header-link">Скидки</a>
            <a href="#" class="lower-header-link">Обувь</a>
            <a href="#" class="lower-header-link">Аксессуары</a>
            <a href="#" class="lower-header-link">Бренды</a>
        </div>
        <div class="lower-header-ul-right">
            <a href="#" class="lower-header-link">Поиск</a>
        </div>
    </div>
</header>
<div class="cont">
    
{% block content %}
{% endblock %}
</div>

<div class="Wapper-end cont">
    <div class="Wapper-text">
        <h3>Скидка 10% за подписку
            за новинки и акции
        </h3>
    </div>
    <div class="Wapper-text">
        <p>Помощь</p>
        <p>Статус заказа по номеру</p>
        <p>Мои заказы</p>
        <p>Условия доставки</p>
        <p>Возраст</p>
        <p>Как оформить заказ</p>
        <p>Как выбрать размер</p>
        <p>Центр поддержки</p>
        <p>Cringe</p>
    </div>
    <div class="Wapper-text">
        <h3>О нас</h3>
        <h3>Публичная оферта</h3>
        <h3>Вакансии</h3>
    </div>
</div>


</body>
</html>