{% extends 'main/base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    {% block title %}<title>Items in {{ category.name }}</title>{% endblock %}
</head>
{% block content %}
<body>
    <h1> бля тяжело {{ category.name }}</h1>
    <ul>
        {% for item in items %}
            <li>
                <img src="{{ item.image.url }}" alt="{{ item.name }}" width="300">
                <h2>{{ item.name }}</h2>
                <p>Price: ${{ item.price }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
{% endblock %}


