{% extends 'main/base.html' %}

{% block title %}<title>Способ Доставки | DrainShop Cringe</title>{% endblock %}

{% block content %}
<h1 class="text-delivery" style="font-size: 20px;">В корзину</h1>
    <h1 class="text-delivery">Оформление заказа</h1>
    <h1 class="text-delivery1" style="font-size: 10px;">Обратите внимание: для получения товаров почтой имя и фамилия должны совпадать с данными</h1>

<form action="">
    <div class="form-item">
        <label for="city">Населенный пункт</label>
        <input class="text-input" type="text" name="city">
    </div>
    <div>
        <h1 class="text-delivery">Способ доставки</h1>
        <div class="radio-input">
            <input class="i" type="radio" name="courier" id="1" value="courier">
            <label for="courier">Курьер</label>
        </div>
        
        <div class="radio-input">
            <input class="i" type="radio" name="post" id="2" value="post">
            <label for="post">Почта</label>
        </div>
    </div>
    <div class="form-item">
        <input class="text-input" type="text" name="city" placeholder="Улица">
        <input class="text-input" type="text" name="city" placeholder="Дом">
        <input class="text-input" type="text" name="city" placeholder="Квартира">
    </div>
    <div>
    <h1 class="text-delivery">Способ оплаты</h1>
        <div class="radio-input1">
            <input class="i" type="radio" name="courier" id="3" value="Payment">
            <label for="Payment">Оплата при получении <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icons">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
            </svg>
            </label>
        </div>
        <div class="radio-input1">
            <input class="i" type="radio" name="post" id="4" value="Payment">
            <label for="Payment">Онлайн оплата картой<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icons">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z" />
            </svg>
            </label>
        </div>
    </div>
   <div>
   <h1 class="text-delivery">Дата доставки  </h1>
        <div class="radio-input2">
            <input class="i" type="radio" name="post" id="5" value="Payment">
            <label for="Payment">23 Октября</label>
        </div>
        <div class="radio-input2">
            <input class="i" type="radio" name="post" id="5" value="Payment">
            <label for="Payment">24 Октября</label>
        </div>
    </div>
    <h1>время доставки</h1>
    <div class="form-item">
        <input class="text-input" type="text" name="city" placeholder="Улица">
        
    </div>

</form>
<div class="Box">
    <h1 class="Box-text1">Сумма заказа</h1>
<div class="Box-Prices">
    <div class="Box-text2">
        <h1>1 товар на сумму </h1>
        <h1>Скидка Cringe</h1>
    </div>
<div class="Prices">
    <h1>11590₸</h1>
    <h1 class="prices1">0 ₸</h1>
</div>
</div>
<div class="Box-text3">
    <h1>Итого</h1>
</div>
    <h1 class="Prices-2"style="font-size:18px;">11590₸</h1>
    <h1 class="comission" style="font-size:9px;">без учета возможной стоимости доставки </h1>
    <h1 class="payment">Перейти к оформлению</h1>
    <h1 class="promo">Промокоды и сертификаты</h1>
    <h1 class="promo-1">Промокод</h1>
</div>









{% endblock %}