{% extends 'main/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Скидки | DrainShop Cringe</title>{% endblock %}
</head>
{% block content %}
<body>
    
    <div class="Basket">
        <strong style="font-size: 30px;">Скидки | товары</strong>
    </div> 
    <main class="item-main2">
    {% for item in discount %}
    <div class="item-discount">
        <img src="{{ item.image.url }}" alt="{{ item.name }}" width="150">
        <h2 style="font-weight: 600;font-size: 20px;"> {{ item.name }}</h2>
        <p> {{ item.price}}₸</p>
        <p>Скидка: {{ item.discount }}%</p>
        <p style="color:red">Итоговая цена: {{ item.discounted_price }}₸</p>
        <form action="{% url 'order' %}" target="order">
            <button class="in-button">Добавить в корзину</button>
       </form>
    </div>
    {% endfor %}
    </main>
</div>
</body>
</html>
{% endblock %}