<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход | DrainShop Cringe</title>
    <link rel="stylesheet" href="/DrainShop/main/static/css/style.css">
</head>
<body>
 <div class="main-reg">
    <div class="register-main">
        <img src="/DrainShop/main/static/img/Group 6.svg" alt="" class="register-img">
        <div class="register">
            <div class="register-heading" >
                <h1 style="font-size: 25px;">Добро пожаловать в Cringe</h1>
                <h1 style="font-size: 15px;">Впервые здесь? Зарегстрируйтесь</h1>
            </div>            
            <div class="register-input">
                    <input type="text" required>
                    <span>Введите номер </span>
                    <i></i>
            </div>
            <div class="register-button">
                <h1>Войти</h1>
            </div>
        </div>
    </div>
</div>
</body>
</html>