{% extends 'main/base.html' %}

{% block title %}<title>Главная | DrainShop Cringe</title>{% endblock %}

{% block content %}

<div class="wapper">
    <div class="boy">
        <img class="img-boy" src="img/boy.jpg" alt="dead-inside">
        <div class="boy-text">
            <h4>
                Премиум новинки
            </h4>
            <h5>
                Осень-Зима 2023
            </h5>
        </div>
    </div>

    <div class="cross">
        <img class="img-cross" src="img/cross.png" alt="кросовки лютие">
        <div class="cross-text">
            <h4>
                Кроссовки и кеды
            </h4>
            <h5>
                из новых коллекций
            </h5>
        </div>
    </div>
    <div class="shtani">
        <img src="img/shtani.jpg" alt="штаны дед инсайда" class="img-shtani">
        <div class="shtani-text">
            <h4>Скидки на штаны и свитшоты</h4>
            <h5>15%</h5>
        </div>
    </div>
</div>

<div class="swapper">
    {% for cat in cats %}
    <div class="swapper-text">
        <img src="{{ cat.image.url }}" alt="Худи " class="swapper-img">
        <h6>{{ cat.name }}</h6>
    </div>
    {% endfor %}
</div>


<div class="desktop">
    <h3>Популярное</h3>
    {% for item in items %}
    <div class="desktop-items">
        <div class="Pants-girl">
            <i class="gg-heart"></i>
            <img src="{{ item.image.url }}" alt="Джерси" class="Djersi-img">

            <div class="h2-text">
                <h2>{{ item.price }}₸</h2>
                <h2>Cringe</h2>
                <h2>{{ item.name }}</h2>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}