{% extends 'main/base.html' %}

{% block title %}<title>Главная | DrainShop Cringe</title>{% endblock %}

{% block content %}
<div class="wapper">
    <div class="boy">
        <img class="img-boy" src="img/boy.jpg" alt="dead-inside">
        <div class="boy-text">
            <h4>
                Премиум новинки
            </h4>
            <h5>
                Осень-Зима 2023
            </h5>
        </div>
    </div>

    <div class="cross">
        <img class="img-cross" src="img/cross.png" alt="кросовки лютие">
        <div class="cross-text">
            <h4>
                Кроссовки и кеды
            </h4>
            <h5>
                из новых коллекций
            </h5>
        </div>
    </div>
    <div class="shtani">
        <img src="img/shtani.jpg" alt="штаны дед инсайда" class="img-shtani">
        <div class="shtani-text">
            <h4>Скидки на штаны и свитшоты</h4>
            <h5>15%</h5>
        </div>
    </div>
</div>

<div class="swapper">
    <div class="swapper-text">
        <img src="img/hudii.jpg" alt="Худи " class="swapper-img">
        <h6>Худи</h6>
    </div>
    <div class="swapper-text">
        <img src="img/Djersi.jpg" alt="Джерси" class="swapper-img">
        <h6>Джерси</h6>
    </div>
    <div class="swapper-text">
        <img src="img/longsleave.jpg" alt="Лонгсливы" class="swapper-img">
        <h6>Лонгслив</h6>
    </div>
    <div class="swapper-text">
        <img src="img/footboll.jpg" alt="Футболки" class="swapper-img">
        <h6>Футболки</h6>
    </div>
    <div class="swapper-text">
        <img src="img/shtani1.png" alt="Штаны" class="swapper-img">
        <h6>Штаны</h6>
    </div>
    <div class="swapper-text">
        <img src="img/ybkawebp.webp" alt="Юбки" class="swapper-img">
        <h6>Юбки</h6>
    </div>
    <div class="swapper-text">
        <img src="img/cedi.jpg" alt="Кеды" class="swapper-img">
        <h6>Кеды</h6>
    </div>
    <div class="swapper-text">
        <img src="img/remen.jpeg" alt="Ремни" class="swapper-img">
        <h6>Ремни</h6>
    </div>
    <div class="swapper-text">
        <img src="img/nike.jpg" alt="Кроссвоки" class="swapper-img">
        <h6>Кроссовки</h6>
    </div>
    <div class="swapper-text">
        <img src="img/carhart.webp" alt="Сумки" class="swapper-img">
        <h6>Сумки</h6>
    </div>
</div>

<div class="desktop">
    <h3>Популярное</h3>

    <div class="desktop-items">
        <div class="Pants-girl">
            <i class="gg-heart"></i>
            <img src="img/Djersi.jpg" alt="Джерси" class="Djersi-img">

            <div class="h2-text">
                <h2>12990 ₸</h2>
                <h2>Cringe</h2>
                <h2>Jersey cerber</h2>
            </div>
        </div>
        <div class="Pants-girl">
            <i class="gg-heart"></i>
            <img src="img/pants girl.jpg" alt="Штаны" class="Pants-girl-img">

            <div class="h2-text">
                <h2>13499 ₸</h2>
                <h2>Cringe</h2>
                <h2>Pants girls</h2>
            </div>

        </div>
        <div class="Pants-girl">
            <i class="gg-heart"></i>
            <img src="img/biglongsleeve.jpg" alt="Лонг слив" class="Pants-girl-img">

            <div class="h2-text">
                <h2>11590 ₸</h2>
                <h2>Cringe</h2>
                <h2>biglongsleeve</h2>
            </div>

        </div>
        <div class="Pants-girl">
            <i class="gg-heart"></i>
            <img src="img/biglongsleeve2.jpg" alt="Лонг слив" class="Pants-girl-img">

            <div class="h2-text">
                <h2>11590 ₸</h2>
                <h2>Cringe</h2>
                <h2>biglongsleeve</h2>
            </div>

        </div>
        <div class="Pants-girl">
            <i class="gg-heart"></i>
            <img src="img/T-shirts.jpg" alt="футболка" class="Pants-girl-img">

            <div class="h2-text">
                <h2>8890 ₸</h2>
                <h2>Cringe</h2>
                <h2>T-shirts</h2>
            </div>

        </div>
        <div class="Pants-girl">
            <i class="gg-heart"></i>
            <img src="img/shtani.jpg" alt="Штаны" class="Pants-girl-img">

            <div class="h2-text">
                <h2>13499 ₸</h2>
                <h2>Cringe</h2>
                <h2>Pants boy</h2>
            </div>

        </div>
        <div class="Pants-girl">
            <i class="gg-heart"></i>
            <img src="img/nike2.jpg" alt="Кроссовки" class="Pants-girl-img">

            <div class="h2-text">
                <h2>21490 ₸</h2>
                <h2>Cringe</h2>
                <h2>Sneakers girl</h2>
            </div>

        </div>
        <div class="Pants-girl">
            <i class="gg-heart"></i>
            <img src="img/Cap.jpg" alt="Штаны" class="Pants-girl-img">

            <div class="h2-text">
                <h2>6789 ₸</h2>
                <h2>Cringe</h2>
                <h2>Cap</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}