{% extends 'main/base.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Шмотка | {{ item.name }}</title>
</head>
{% block content %}
<body>
    {{ item.name }}
    {{ item.price }}
    <img src="{{ item.image.url }}" alt="" width="300">

    <hr>
    {% for comment in comments %}
        <p style="color:mediumvioletred">{{ comment.name }} </p>
        <p>{{ comment.text }}</p>
        <hr>
    {% endfor %}

    <p>Оставь коммент включи коллокольчик подпишись</p>
    <form method="post" action="{% url 'item' item.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="send">
    </form>
</body>
</html>
{% endblock %}