{% extends 'main/base.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Шмотка | {{ item.name }}</title>
</head>
{% block content %}
<body>
<div class="item-main">
<div class="item-container">
    <div class="slider">
    <div class="upper-item">
        <div class="button-item" onclick="changeImage(false)">назад</div>
        {% for image in images %}
             <img class=""  src={{image.image.url}}/>
        {% endfor %}
        <div class="button-item" onclick="changeImage(true)">вперед</div>
    </div>
        <div class="lower">

        </div>
    </div>
        <p class="item-name">{{ item.name }}</p>
        <p class="item-price">{{ item.price }} ₸</p>
</div>
    <div class="item-description">
        <p class="section-header">Описание Товара</p>
        <p class="item-text">Оверсайз фит, крой OVERSIZE. Запечатаны два рукава и грудь/спина.</p>
        {% for size in sizes %}
          <a href="{% url  'order_item' item.id size.id %}"><li class="item-text" > {{ size.name }}: {{ size.description }}</li></a>
        {% endfor %}
        <p class="item-text">Вещь Унисекс, подходит мальчикам и девочкам.</p>
        <p class="item-text" >Материал: Акрил</p>
        
    </div>
</div>

    <hr>
    <p class="section-header">Отзывы</p>
    {% for comment in comments %}
        <p style="color:mediumvioletred">{{ comment.name }} </p>
        <p>{{ comment.text }}</p>
        <hr>
    {% empty %}
    <p>Нет отзывов</p>
    {% endfor %}
    <div class="border-items">
        <form method="post" action="{% url 'item' item.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="send">
        </form>
    </div>

    <hr>

    <div class="desktop">
        <p class="section-header">Популярное</p>
        <div class="desktop-items1">
            {% for rand_item in random_items %}
            <div class="Pants-girl">
                    <div class="heart">
                    <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="heart">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                        </a>
                            </svg>
                    </div>
                    <img src="{{ rand_item.image.url }}" alt="{{ rand_item.name }}" class="Djersi-img" >

                <div class="h2-text">
                    <h2>{{ rand_item.price}} ₸</h2>
                    <h2>Cringe</h2>
                    <a class="item-link"    href="{% url 'item' item.id %}"> {{ rand_item.name }} </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    


</body>
</html>
{% endblock %}