<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {{ item.name }}
    {{ item.price }}
    <img src="{{ item.image.url }}" alt="" width="150">

    <hr>
    {% for comment in comments %}
        {{ comment.name }}
        {{ comment.text }}
        <hr>
    {% endfor %}

    <p>Оставь коммент включи коллокольчик подпишись</p>
    <form method="post" action="{% url 'item' item.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="send">
    </form>
</body>
</html>