{% extends 'main/base.html' %}
{% load static %}

{% block title %}<title>Новинки | DrainShop Cringe</title>{% endblock %}
{% block content %}
<body>
    <main class="new-item">
        

        <div class="in-card">
            {% for item in new_items %}
            <div class="item-new">
                <img src="{{ item.image.url }}" alt="{{ item.name }} image" width="150"><br>
               <span style="font-weight: 600;font-size: 20px;">{{ item.name }}</span><br> 
                <strong>{{ item.price }} ₸</strong><br>
               <span>Скидка:</span> {{ item.discount }}% <br>
               <p style="color:red">Итоговая цена: {{ item.discounted_price }}₸</p>
               <form action="{% url 'order' %}" target="order">
                    <button class="in-button">Добавить в корзину</button>
               </form>

            </div>         
            {% endfor %}
        </div>
           
        
    </main>
</body>
</html>
{% endblock %}