{% extends 'main/base.html' %}
{% load static %}

{% block title %}<title>Новинки | DrainShop Cringe</title>{% endblock %}
{% block content %}
<body>
        <ul>
            {% for item in new_items %}
                <li>
                    <strong>Название:</strong> {{ item.name }}<br>
                    <strong>Цена:</strong> ${{ item.price }}<br>
                    <img src="{{ item.image.url }}" alt="{{ item.name }} image" width="100"><br>
                </li>
            {% endfor %}
        </ul>
</body>
</html>
{% endblock %}