{% extends 'main/base.html' %}

{% block title %}<title>Заказы | DrainShop Cringe</title>{% endblock %}

{% block content %}
<div class="Basket">
    <h1>Корзина</h1>
    <div class="Basket-color">
        <h1>товары</h1>
    </div>
</div>
<div class="Basket-main">
    <h1 class="longsleave-text">
        Лонгслив
    </h1>
    <h1 сlass="longsleave3" style="font-size:8px;">в избранное</h1>
    <h1 сlass="longsleave3" style="font-size:8px;">удалить</h1>
    <div class="longsleave">
        <img src="img/Longsleave1.jpg" alt="Лонгслив">
        <div class="Description">
            <h1>longsleave smile v2</h1>
            <h1>Размеры:М</h1>
            <h1>Черный</h1>
        </div>
        <h1 class="tg">11590 ₸</h1>

    </div>
</div>
<div class="longsleave">
    <img src="img/Longsleave2.jpg" alt="Лонгслив">
    <div class="Description">
        <h1>longsleave smile v2</h1>
        <h1>Размеры: М</h1>
        <h1>Черный </h1>
    </div>
    <h1 class="tg">11590 ₸</h1>

</div>
<div class="Box">
    <h1 class="Box-text1">Сумма заказа</h1>
<div class="Box-Prices">
    <div class="Box-text2">
        <h1>1 товар на сумму </h1>
        <h1>Скидка Cringe</h1>
    </div>
<div class="Prices">
    <h1>11590₸</h1>
    <h1 class="prices1">0 ₸</h1>
</div>
</div>
<div class="Box-text3">
    <h1>Итого</h1>
</div>
    <h1 class="Prices-2"style="font-size:18px;">11590₸</h1>
    <h1 class="comission" style="font-size:9px;">без учета возможной стоимости доставки </h1>
    <h1><a href="{% url 'payment' %}" class="payment">Перейти к оформлению</a></h1>
    <h1 class="promo">Промокоды и сертификаты</h1>
    <h1 class="promo-1">Промокод</h1>
</div>
</div>
{% endblock %}