{% extends 'main/base.html' %}

{% block title %}<title>Заказы | DrainShop Cringe</title>{% endblock %}

{% block content %}
<div class="Basket">
    <h1>Корзина</h1>
    <div class="Basket-color">
        <h1>товары</h1>
    </div>
</div>
<div class="Basket-main">
    <h1 class="longsleave-text">
        Лонгслив
    </h1>
    <h1 сlass="longsleave3" style="font-size:8px;">в избранное</h1>
    <h1 сlass="longsleave3" style="font-size:8px;">удалить</h1>
    <div class="longsleave">
        <img src="img/Longsleave1.jpg" alt="Лонгслив">
        <div class="Description">
            <h1>longsleave smile v2</h1>
            <h1>Размеры:М</h1>
            <h1>Черный</h1>
        </div>
        <h1 class="tg">11590 ₸</h1>

    </div>
</div>
<div class="longsleave">
    <img src="img/Longsleave2.jpg" alt="Лонгслив">
    <div class="Description">
        <h1>longsleave smile v2</h1>
        <h1>Размеры: М</h1>
        <h1>Черный </h1>
    </div>
    <h1 class="tg">11590 ₸</h1>

</div>
</div>
{% endblock %}