{% extends 'main/base.html' %}

{% block title %}<title>Выбор оплаты | DrainShop Cringe</title>{% endblock %}

{% block content %}
<div class="border">
    <h1 class="border-text" style="font-size:50px;" >Платите когда хотите!</h1>
    <img class="border-img" src="img/bobob.jpg" alt="">
 </div>
 <div class="pselection">
     <div class="pselection-text">
         <span class="material-symbols-outlined">wifi</span>
         <h1 style="font-size: 40px;">Онлайн оплата</h1>
         <h1 style="font-size:15px;">на сайте и в приложении</h1>
     </div>
     <div class="pselection-text">
         <span class="material-symbols-outlined">shopping_bag</span>
         <h1 style="font-size: 40px;">При получении заказа</h1>
         <h1> вы сможете примерить вещи и купить только то,что вам понравится</h1>
     </div>
     <div class="pselection-text">
         <span class="material-symbols-outlined">credit_card</span>
         <h1 style="font-size: 40px;" >Банковской картой или наличными</h1>
         <h1>При доставке во всех городах и в пунктах выдачи заказов</h1>
     </div>
    
 </div>

{% endblock %}