{% extends 'main/base.html' %}

{% block title %}<title>Выбор оплаты | DrainShop Cringe</title>{% endblock %}

{% block content %}
<div class="border">
    <h1>Платите когда хотите!</h1>
    <img src="" alt="">
</div>
<div class="payment">
    <div class="payment-link">
        <li><a href="" class="payment-link">Онлайн оплата</a></li>
        <li><a href="" class="payment-link">При получении заказа</a></li>
        <li><a href="" class="payment-link">Банковской картой или наличными</a></li>
    </div>
</div>

{% endblock %}