<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация | DrainShop Cringe</title>
    <link rel="stylesheet" href= /DrainShop/main/static/css/style.css">
</head>
<body>
<div class="main-reg">
    <div class="register-main1">
        <img src="/DrainShop/main/static/css/style.css" alt="" class="register-img">
        <div class="register">
            <div class="register-heading">
                <h1>Добро пожаловать в Cringe</h1>
                <h1 style="font-size: 15px;">Уже есть аккаунт? Войдите</h1>
            </div>
                <div class="register-input">
                    <input type="text" required>
                    <span>Логин</span>
                    <i></i>
                </div>
                <div class="register-input">
                    <input type="text" required>
                    <span>Емаил</span>
                    <i></i>
                </div>
                <div class="register-input">
                    <input type="text" required>
                    <span>Пароль</span>
                    <i></i>
                </div>
                <div class="register-input">
                    <input type="text" required>
                    <span>Повтор пароля</span>
                    <i></i>
                </div>
            <div class="register-button">
                <h1>Зарегстрироваться</h1>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="horns" name="horns" />
                <label for="horns">Подписаться на новинки и скидки</label>
            </div>
        </div>
    </div>
</div>
</body>
</html>