<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение  | DrainShop Cringe</title>
    <link rel="stylesheet" href= "/DrainShop/main/static/css/style.css">
</head>
<body>
    <div class="main-reg">
        <div class="register-main">
            <img src="Group 6.svg" alt="" class="register-img">
            <div class="register">
                <div class="register-heading" >
                    <h1 style="font-size: 25px;">Введите код из СМС</h1>
                    <h1 style="font-size: 15px;">Мы выслали код на номер +7</h1>
                </div> 
                <div class="Sms-code">
                    <div class="input1">         
                        <div class="register-input1">
                            <input type="text" required>
                            <span>Введите Код </span>
                            <i></i>
                        </div>
                        <div class="register-input1">
                            <input type="text" required>
                            <span></span>
                            <i></i>
                        </div>
                        <div class="register-input1">
                            <input type="text" required>
                            <span> </span>
                            <i></i>
                        </div>
                    </div>
                    <h1 class="register-text">Пожалуйста введите ваш код из СМС</h1>
                </div>
                    <div class="register-button">
                        <h1>Отправить код еще раз 2:00</h1>
                    </div>
        </div>
    </div>
</body>
</html>