*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
  list-style:none;
  text-decoration: none;
}

.upper-header{
  width: 100%;
  height: 25px;
  margin: 0;
  color:white;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
  display: flex;
   
}
.upper-header-link, .upper-header-link:visited,  .upper-header-link:active{
color: white;
}

.header-ul{
  display: flex;
  justify-content:space-between;
  width: 100%;
  align-items:center;
}

.upper-header-right>a{
  margin-left:25px;
  }

.upper-header-right{
display: flex;
}

.center-header{
color: black;
display: flex;
justify-content: space-between;
align-items: center;
}

.brand{
  font-size: 45px;
}

.center-header-link{
color: black;
}
.center-header-link:visited {
color: black;
}
.center-header-link:active {
color: black;
}
.center-header-link:visited {
color: black;
}

.center-header-ul-left{
display: flex;
justify-content: start;
flex-shrink: 1;
width: 100%;
text-decoration: underline;


}

.center-header-ul-right{
display: flex;
justify-content: end;
width: 100%;
flex-shrink: 1;
}
.center-header-ul-center{
flex-shrink: 2;
font-size: 24px;
}
.center-header-ul-left li a{
  margin-right: 20px

}
.center-header-ul-right li a{
  margin-right: 20px
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
header{
  flex: 1 0 auto;
}
.lower-header{
  color: black;
  display: flex;
  justify-content: space-between; 
  border-bottom: 1px solid black;
}
.lower-header-ul-left{
  display: flex;
  justify-content: start;
  width: 100%;
}
.lower-header-ul-right{
  display: flex;
  justify-content: end;
  width: 100%;
}
.lower-header-ul-left>a{
  margin-right: 20px

}
.lower-header-link {
  color: black;
}
.lower-header-link:hover {
  color: white;
  background-color: black;
  transition: 300ms ease-in-out;
}

.wapper{
  display: flex;

}
.img-boy{
  width: 600px;
  height: 400px;
}
.img-cross{
  width: 500px;
  height: 300px;
  object-fit: cover;
}
.img-shtani{
  min-width: 500px;
  min-height: 300px;
  max-width: 500px;
  max-height: 300px;
  object-fit: cover;
}
h4{
  margin-left:25px ;
}
h5{
  color: darkgray;
}
.boy-text{
  margin-left:25px ;
}
.cross-text{
 margin-left: 170px;
}
.shtani-text{
  margin-left: 150px;
}
.swapper{
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
}
.swapper-img{
  width: 150px;
  height: 150px;
  border-radius: 60%;
  margin-left: 5px;
  margin-right: 5px;
}
.h6{
  color: white;
}

.swapper-text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.desktop{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Djersi-img{
  width: 150px;
  height: 150px;
}
.gg-heart,
.gg-heart::after {
 border: 2px solid;
 border-top-left-radius: 100px;
 border-top-right-radius: 100px;
 margin-left:100px;
 width: 10px;
 height: 8px;
 border-bottom: 0

}

.heart{
  width: 20px;
  height: 15px;
}

.Pants-girl-img{
  width: 150px;
  height: 150px;
}

.Pants-girl{
  border: 1px solid black;
  padding: 2px;
  margin: 12px;
}

.desktop-items{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.Wapper-end{
  width: 100%;
  height: 200px;
  margin: 0px;;
  color:white;
  background-color: black;
  display: flex;
  justify-content:space-between;
  align-items: start;
  display: flex;
  flex: 0 0 auto;

}

.Wapper-text{
  display: flex;
  justify-content:space-between;
  align-items:start;
  flex-direction: column;
  margin:10px;
}

.Box{
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.505);
  border-radius:40px;
  width: 300px;
  height: 300px;
  display:flex;
  justify-content:flex-start;
  align-items:start;
  margin-left:1000px;
  margin-top:-250px;
}
.Box-text1{
  flex-direction: column;
  margin-left:30px;
}
.Box-text2{
   
  flex-direction: column;
  margin-left:5px;
  margin-top: 20px;
}
.Box-text3{
  margin-left:5px;
  margin-top: 20px;
}

.Box-Prices{
  display: flex;
  justify-content:flex-start;
  align-items: start;
  flex-direction: row;
}

.border{
  width: 100%;
  height: 600px;
  background-color: black;
  color: white;
  

}
.border-img{
  width: 750px;
  height: 450px;
  margin-top:-55px;
  margin-left:  650px;;
  transform: rotate(7deg);
}
.border-text{
  width: 300px;
  height: 150px;
  margin-left: 50px;
   
  
}
.pselection{
  display: flex;
  justify-content:space-between ;
  align-items: center;
  
}
.pselection-text{
  flex-direction: column;

}
.material-symbols-outlined{
  flex-direction: column;
  
}

.cont{
  padding-right: 90px;
  padding-left: 90px;
}
.Icons-card{
width: 45px;
height: 45px;
}